# PostgreSQL

SQL_ENGINE              --->  django.db.backends.postgresql
POSTGRES_DB             --->  pgdb
POSTGRES_PASSWORD       --->  root
POSTGRES_USER           --->  root
POSTGRES_HOST           --->  pgdb
POSTGRES_PORT           --->  5432

ENV                     --->  DEV
SECRET_KEY              --->  foo
DATABASE                --->  postgres

